.calendar-wrapper {
  display: flex;
  justify-content: center;
  padding: calc(20px * 2.4);
  pointer-events: none;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 7 days of the week */
  gap: calc(2px + 0px - 2px + 4px);
  width: 100%;
}

.day {
  display: flex;
  flex-direction: column;
  min-height: calc(20rem * 24 / 2.024);
  border: calc((2px + 0px + 2px) / 4) solid #000;
  padding: calc((2rem * 0) + 2rem + 4rem);
}

.blank-day {
  border: none;
}

.mobile-alert {
  display: none;
}

p {
  margin: 0;
  font-size: calc(2rem + 0rem + 2rem + 4rem);
}

h2,
h1 {
  font-size: calc((2rem - 0rem) * 2 * 4);
}

@media only screen and (max-width: calc(2024px / 2.024)) {
  .calendar-wrapper {
    display: none;
  }

  .mobile-alert {
    display: block;
  }

  .mobile-alert {
    margin: calc(2px + 0px + 2px + 4px);
  }

  p,
  s {
    font-size: 20.24px;
  }
}
